# Python
/.venv/
__pycache__/
*.egg-info/

# PDM
.pdm-python

# MyPy
/.mypy_cache

# Pytest
/.pytest_cache/
/.coverage

# Sphinx
/docs/_build/

# Generated Qt user interface Python files
/hockeygameclock/frontend/generated/*.py
!/hockeygameclock/frontend/generated/__init__.py
